*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

/*Cadastro*/
.formCadastro{
    margin: 30px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    gap: 16px;
    padding: 25px;
    background-color: rgb(121, 121, 121);
    border: none;
    border-radius: 20px;
}

input{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.texto-preto{
    color: black;
}

#imagem{
    padding: 6px;
    color: black;
}

#submit{
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}



