*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.formClass{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto{
    width: 60%;
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed black;
}


.bg-imagem > img{
    max-width: 150px;
    max-height: 100px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.infos p{
    color: black;
    font-size: 1.1rem;
}

.btn{
    width: 60px;
    font-size: 1.2rem;
    padding: 10px;
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    
}

.btn:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #003D29;
}

.disabled-input{
    color: black;
    width: 50px;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}

.FinalizaCompra{
    cursor: pointer;
    color: black;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
}

.FinalizaCompra:hover{
    color: #FFFFFF;
    background-color: #003D29;
}

.formBtnCompra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.vazio{
    font-size: 3rem;
    color: black;
    text-align: center;
    margin-top: 100px;
}

a{
    text-decoration: none;
}

.modal-title, .modal-body, .modal-footer{
    color: black;
}

.modal-body{
    font-size: 1.6rem;
}

.fechar{
    cursor: pointer;
    color: black;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.9rem;
}

.fechar:hover{
    color: #FFFFFF;
    background-color: #003D29;
}

.btn-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.informacoes-produto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.informacoes-produto p{
    font-size: 1.2rem;
    font-weight: 600;
}

.verde{
    color: #006e4a;
}

#valorTotal{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 40px;
}